body .page-title--u-igq3w5yqd {
  text-transform: none; }
  body .mosaic-form--u-i1ocpi316 .mosaic-form__error {
    color: #000; }
  @media (max-width: 480px) {
  body .mosaic-form--u-i1ocpi316 .mosaic-form__button {
    margin-top: 94px; }
  body #i149nigk5_0 {
    position: relative;
    top: -129px; } }
